{% extends "pow_layout.html" %}

{% block title %}
   About
{% endblock %}

{% block main %}

      <!-- About PowSearch Description Box
      ============================================= -->

    <div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1 style="margin-top:-100px">The Powder Hound's Paradise</h1>
          </div>
        </div>
      </div>
      <br>
      <div class="alert alert-dismissible alert-warning" style="background-color:#2fbda3; border-color:#2fbda3; margin-top:-40px;">
        <br>
        <h4 class="alert-heading" style="font-weight:bold">About PowSearch</h4>
        <br>
        <p class="mb-0" style="font-size:17.5px">Made by powder lovers, for powder lovers. PowSearch is a web application for skiers, snowboarders, and winter sports aficionados. The website allows users to search a database of over 450 ski resorts in North America. When searching for resorts, you can filter by various criteria to make to help you find the perfect fit for your next ski trip. You can also view weather forecasts for the resorts you search to help you stay on top of the freshest storm cycles ripping through your favorite mountain towns. PowSearch also allows users to search the current weather in any city.</a></p>
        <br>
      </div>

{% endblock %}

